.cabecalho{
    background-color: #F27979;
   
}

.rodape{
    background-color: #F27979;
 margin-left:-10px;
     margin-right:-10px;
}
.home:hover {
   color: orange;

 transition: background-color 0.3s ease;
}
.dest:hover {
    color: rgb(0, 110, 255);
  transition: background-color 0.3s ease;
 }
 .prod:hover {
    color: rgb(108, 173, 3);
  transition: background-color 0.3s ease;
 }

