body{
    background-color: #D9D9D9;
   
}



header {
    height: 65px;
}

.banner>img{
    width: 100%;
    height: 460px;
}

.btn{
    margin-left: 10px;
    margin-top: 4px;
}
.login {
    margin-left:1300px;
}
.cabecalho {
    position: flex;
    right: 0;
    left: 0;
    display: flex;
    top: 0;
    background-color: #71734C;
    color: #71734C;
    height: 47px;
}

.segcabecalho {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    top: 6%;
    background-color: #F27979;
    color: #F27979;
    height: 25px;
}

footer {
    height: 60px;
    bottom: 0px;
    margin-top: auto;
}

.rodape,
.rodaperosa {
background-size: cover;
background-position: center;
    display: flex;
    right: 0;
    left: 0;
}

.rodape {
    background-color: #71734C;
    color: #71734C;
    height:40px;
}

.rodaperosa {
    background-color: #F27979;
    color: #F27979;
    height: 25px;
    display: flex;

    

}

/* essa vai ser a área abaixo do cabeçalho, possuindo a barra de pesquisa e afins */

.loginregistro{
top: 10px;
margin-left: 10px;

}

.divBusca {
    position: absolute;
    width: 500px;
    height: 60px;
    right: 0;
    top: 260px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: left;
}

.busca {
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    top: 50px;
    color: white;
}

.carousel-item {
    position: cover;
    background: black;
    width: auto;
    height: auto;
    background-size: cover;
}
.carousel-item>img{
    height: auto;
    width: auto;
}

#divBusca {

    position: absolute;

    background-color: #f7d0d0;

    border: solid 2px #b43e3e;

    border-radius: 10px;

    width: 420px;

    height: 32px;

    top: 380px;

    left: 1000px;

}



#txtBusca {

    position: absolute;

    float: left;

    background-color: transparent;

    padding-left: 5px;

    font-size: 18px;

    border: none;

    height: 30px;

    width: 300px;

    left: 26px;

}



#btnBusca {

    position: absolute;

    border: none;

    right: 0px;

    height: 28px;

    border-radius: 0 7px 7px 0;

    width: 90px;

    font-weight: bold;

    background: #F27979;

}



#divBusca img {

    position: absolute;

    float: left;

    top: 5px;

    left: 2px;

    width: 20px;

}

/* area do carrosel */
.carousel {
    max-height: auto;
    position: cover;

}

.carousel-inner,
.active {
    
    max-height: auto;
    position: cover;
}


/* parte dos produtos */
.produtos {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 360px;
   background-color: #ffffff;
   

}
.bloco:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.bloco {
   
    background-color: #F27979;
    width: 202px;
    height: 260px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 10%;



}

.imagem-p {
    width: 190px;
    height: 190px;
    background-size: cover;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #ffffff;

}

.preco {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 5px;

}

.nome {
    margin-top: -20px;
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}