/* formulario do cliente */
body {
    background-color: rgb(252, 206, 217);
}

.formulario {
    box-shadow: 6px 15px 42px 11px rgba(250, 125, 125, 0.425);
}
.link{
    font-size: 0.7em;
}

button {
    color: #090909;
    padding: 0.5em 1.0em;
    font-size: 18px;
    border-radius: 0.5em;
    background: rgb(252, 206, 217);
    border: 1px solid #3b0000;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

button:hover {
    border: 1px solid white;
    
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}