.body{
    background: linear-gradient(90deg, #dbdbd3, #F27979);
   }
   .h1{
text-align: center;
   }
   .formulario{
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          width: 100%;
          height: 100vh;
      
      }

      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

      .formLogin{   
         display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
      }

      .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    #nome{
        
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        height: 25px;
    }
    
    #email{
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        height: 25px;
    }
    
    #senha{
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        height: 25px;
    }
    
    .tele{
        background-color: #ffffff;
        color: rgb(1, 2, 2);
        height: 25px;
        align-items: center;
    }
    
    .cpf{
        background-color: #ffffff;
        color: rgb(1, 2, 2);
        height: 25px;
        align-items: center;
    }
    
    .nascimento{
      background-color: #ffffff;
      color: black;
      height: 25px;
    }
    .botao{
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        height: 25px;
    }
    .botao{
        background-color: #ffffff;
        color:rgb(6, 6, 7);
        height: 25px;
    }
    
      .obs{
        background-color: #ffffff;
        color:rgb(0, 0, 0) ;
        height: 25px; 
    }
    
    .idade{
        background-color: #ffffff;
        color:rgb(10, 11, 12);
        height: 25px;
    }
    
    .nascimento{
        background-color:#ffffff(0, 0, 0);
        color:rgb(12, 10, 10);
        height: 25px;
    }
    
    .semana{
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        height: 25px;
    }
    
    .email{
        color:rgb(0, 0, 0)
    }
    .nome{
        color: rgb(5, 5, 5);
    }
    .senha{ 
        color: rgb(0, 0, 0);
    }
        .data{ 
            color: rgb(0, 0, 0);
        }
  
    .medi{
        color: rgb(0, 0, 0);
    }
    .extras{
        color: rgb(0, 0, 0);
    }
    .site{
      background-color:#ffffff;
      color: rgb(0, 0, 0);
      height: 25px;
    }

    .formLogin input:focus {
        border: 2px solid #71734C;
    }

    .botao{
        background-color: #F27979;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border: none !important;
        transition: all linear 160ms;
        cursor: pointer;
        margin: 0 !important;
    }

    .botao:hover {
        transform: scale(1.05);
        background-color: #d1a0a0;
    
    }