.body {
    background-color: #D9D9D9;
}

.cabecalho {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    top: 0;
    background-color: #71734C;
    color: #71734C;
    height: 35px;
}

.segcabecalho {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    top: 35px;
    background-color: #F27979;
    color: #F27979;
}

.img {
    position: absolute;
    width: 620px;
    height: 620px;
    left: 100px;
    top: 150px;
    background: #080808;
}

.nome {
    float: right;
    display: table-cell;
    width: 600px;
    margin-right: 200px;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
}

.descricao {
    float: right;
    display: table-cell;
    width: 600px;
    margin-right: 200px;
    margin-top: -1%;
    font-size: 20px;
}

.opicoes {
    width: 600px;
    height: 110px;
    float: right;
    display: table-cell;
    margin-right: 200px;
    margin-top: 10px;
    background: #F27979;
    border-radius: 20px;
    font-size: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color:#666845;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  
.quantidade{
    margin-top: 4%;
}


.calcular {
    float: right;
    display: table-cell;
    width: 600px;
    margin-right: 10%;
    margin-top: 48px;
    font-size: 19px;
    font-weight: bold;
}

.frete {
    position: absolute;
    width: 200px;
    height: 30px;
    background: #71734C;
    border-radius: 30px;
    top: 590px;
    right: 10px;
    left: 800px;

}

.comprar {
    position: absolute;
    width: 200px;
    height: 44px;
    background: #F27979;
    border-radius: 26px;
    top: 650px;
    right: 10px;
    left: 800px;
    font-weight: bold;
}

.adicionar {
    position: absolute;
    width: 200px;
    height: 44px;
    background: #F27979;
    border-radius: 26px;
    top: 650px;
    left: 1050px;
    font-weight: bold;
}

.pesquisar {
    position: absolute;
    width: 60px;
    height: 30px;
    background: #71734C;
    border-radius: 30px;
    top: 590px;
    right: 10px;
    left: 1020px;
}



.estreladesligada {

    width: 40px;

    right: 50px;

    left: 10px;

    margin-top: 105px;



}

.estrela {

    margin-left: 288px;

    margin-top: 42%;

}

.quantidade {

    position: absolute;

    top: 650px;

    left: 840px;

}

.menos {

    background: #F27979;
    
    font-weight: bold;

    position: absolute;

    width: 20px;

    height: 20px;

    margin-top:46% ;

    left: 790px;

}

.mais {

    background: #F27979;

    position: absolute;

    font-weight: bold;

    width: 20px;

    height: 20px;

    margin-top:46% ;

    left: 940px;

}

.numeros {

    background: #F27979;

    text-align: center;

    font-weight: bold;

    position: absolute;

    width: 100px;

    height: 20px;

    margin-top:46% ;

    left: 825px;

}

.Comentarios {

    position: absolute;

   margin-top: 5%;

    left: 100px;

}